/* your custom css */
@font-face {
  font-family: Yekan;
  src: url(../fonts/yekan-regular.ttf);
}

p {
  line-height: 1.8;
  font-size: 14px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  direction: rtl;
  font-family: Yekan, sans-serif;
}
blockquote {
  background-color: #fff;
  border-left: none;
  padding: 8px 0 8px 0;
  border-radius: 8px;
  position: relative;
}
blockquote p {
  background: rgba(255, 187, 0, 0.16);
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 200;
}
.wrapper blockquote > p:first-child {
  padding-top: 15px;
}
blockquote:before {
  content: " ";
  display: block;
  background: #ffb300;
  border-radius: 10px;
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  right: -5px;
}
.logo {
  margin-left: 10px;
  margin-right: 0;
}
.mainContainer .wrapper {
  text-align: right;
}
.headerTitleWithLogo {
  display: none !important;
}
pre,
code {
  text-align: left;
  direction: ltr;
}
code {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
footer {
  direction: ltr;
}
ol,
ul {
  padding-right: 2em;
}

.button {
  border-radius: 23px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #ffffff;
  border: none;
  box-shadow: 0 3px 26px 0 rgba(255, 255, 255, 0.4);
  color: #00b1d7;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.7;
  transition: all ease 0.6s;
}
.button:hover {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: #ffffff;
  box-shadow: 0 3px 26px 0 rgba(255, 255, 255, 0.7);
  color: #00b1d7;
}
/* footer */
.footer-site {
  display: flex;
  flex-direction: column;
}
.footer-site .footer-site-top {
  height: 220px;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #160074, #0f0050);
}
.footer-site .footer-site-links {
  justify-content: center;
  display: flex;
  padding-top: 45px;
}
.footer-site .footer-site-top-link {
  width: 160px;
  line-height: 46px;
  height: 46px;
  border-radius: 23px;
  box-shadow: 0 3px 26px 0 rgba(255, 255, 255, 0.16);
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  margin-left:45px;
  text-align: center;
}
.footer-site .footer-site-top-social {
  justify-content: center;
  display: flex;
  padding-top: 45px;

}
.footer-site .footer-site-top-social-item {
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 100%;
  margin-left:45px;
}

.footer-site .footer-site-top-social:last-child,
.footer-site .footer-site-top-social-item:last-child {
  margin-left: 0;
}
.footer-site-down{
  height: 45px;
  background-color: #2a1975;
  line-height: 45px;
}
.footer-site-down p{
  color : #fff;
  text-align: center;
  line-height: 45px;
  margin: 0;
}
/* header section */

.fixedHeaderContainer {
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #160074, #0f0050);
  height: 180px;
  display: flex;
  align-items: center;
}

.fixedHeaderContainer .wrapper {
  margin: inherit !important;
}
.fixedHeaderContainer header img {
  margin-right: 64px;
}
.fixedHeaderContainer a {
  height: auto !important;
  width: 224px;
}

.fixedHeaderContainer .wrapper {
  max-width: 100% !important;
}
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  border-bottom: 1px solid #00b1d7;
  color: #00b1d7;
  background: transparent;
}

.navigationSlider .slidingNav ul li a {
  padding-bottom: -5px;
  color: #4f4f4f;
  transition: all ease 0.5s;
  display: block;
}
.navigationSlider {
  margin-right: 50px;
}
.navigationSlider .slidingNav ul li a:hover {
  background: transparent;
  color: #4c4d4f;
}

/* Home Container Section */
.homeContainer .homeWrapper {
  padding: 5em 10px;
}
.homeContainer {
  background-image: linear-gradient(to bottom, #00b1d7, #0f0050);
  color: #fff;
}
.homeContainer .projectTitle {
  color: #fff;
}
.homeWrapper .inner {
  max-width: 700px;
  margin: 0 auto;
}
.homeWrapper .inner p {
  font-size: 14px;
  line-height: 1.79;
  margin: 3em 0;
}
.projectTitle img {
  width: 186px;
}

/* Documentation Section */
.documentation {
  margin: 90px 0;
}
.documentation-wrapper {
  display: flex;
  justify-content: center;
}
.documentation-item img {
  width: 64px;
  height: 64px;
}
.documentation-item {
  display: flex;
  flex: 1 1;
  justify-content: center;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 0 10px;
  padding: 30px 0;
  text-align: center;
}
/* .documentation-item img {

} */
/* Production showcase Section */
.productShowcaseSection img {
  width: 128px;
  border-radius: 128px;
}
.productShowcaseSection .showcase {
  text-align: center;
  transition: all ease 0.4s;
  padding: 50px 70px;
  display: block;
}
.productShowcaseSection .showcase:hover {
  border-radius: 10px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.16);
}

/* Articles Section */
.articleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px 0;
}
.articleHeader h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}
.articleHeader .divider {
  width: 50%;
  height: 2px;
  border-radius: 4px;
  background-color: #4f4f4f;
}
.articleHeader button {
  width: 160px;
  height: 46px;
  border-radius: 23px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 26px 0 rgba(254, 93, 144, 0.4);
  background-image: linear-gradient(to left, #ffa7ad, #ff628f);
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: Yekan;
}
.articlesSection {
  text-align: center;
  box-sizing: border-box;
}
.articlesSection .article img {
  padding: 5px 0;
}
.articlesSection .article {
  margin: 30px;
  display: block;
  transition: all ease 0.4s;
  padding: 25px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.16);
}
.articlesSection .article span {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 16px;
  color: #75879c;
}
.articlesSection .article p {
  padding: 15px;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  height: 140px;
  overflow: hidden;
}
.articlesSection .article h3 {
  color: #4f4f4f;
  padding-bottom: 30px;
  font-size: 24px;
}
.articlesSection .article:hover {
  border-radius: 10px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.16);
}

/* Docs Navbar */
.docsNavContainer {
  background: #f2f2f2;
  flex: 0 0 275px;
}
.navGroupCategoryTitle {
  background-color: #f6f6f6;
  padding: 12px 30px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  position: relative;
}
.navGroupCategoryTitle::after {
  content: url("../img/ic-arrow-d.png");
  position: absolute;
  top: calc(50% - 11px);
  left: 15px;
}
.toc .toggleNav ul {
  padding-right: 2em;
}
.toc .toggleNav ul li {
  margin: 5px 0;
}
.toc .toggleNav ul li.navListItemActive a {
  color: #00b1d7;
}
.onPageNav {
  border-right: 1px dashed #c8c8c8;
  padding: 0 30px;
}
.onPageNav > .toc-headings {
  border-left: none;
}

.onPageNav > .toc-headings > li > a {
  font-weight: bold;
  color: #4f4f4f;
  font-size: 14px;
}
.onPageNav .toc-headings {
  padding-right: 1em;
}
.onPageNav .toc-headings li {
  margin: 5px 0;
}

/* Docs Main container*/
.docMainWrapper > * {
  margin: 0 auto !important;
}
.documentInner {
  padding: 30px 24px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
}

.documentInner a {
  color: #00b1d7;
  text-decoration: underline;
}

.mainContainer .wrapper .post .postHeader {
  border-bottom: 1px dashed #c8c8c8;
}
.postHeader .postHeader h1 {
}

.breadcrumb {
  border-bottom: 1px dashed #c8c8c8;
  padding: 0 112px 24px 112px;
}
.breadcrumb a {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #00b1d7;
  margin: 0 10px;
  vertical-align: middle;
}
.breadcrumb span {
  font-size: 12px;
  font-style: normal;
  color: #4f4f4f;
  margin: 0 10px;
}
.breadcrumb::before {
  content: url("../img/documents.png");
  margin-left: 10px;
  vertical-align: middle;
}
.hash-link {
  margin-left: 20px;
  padding-right: 4px;
  opacity: 1;
}
.hash-link svg path {
  fill: #00b1d7;
}

.mainContainer .wrapper .post .postHeaderTitle {
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
}
.mainContainer .wrapper .post article {
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
}
@media screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 140px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
